body {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
}

.wrapper {
  position: absolute;
  background: rgba(0, 0, 0, 0.315);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#background-video {
  position: fixed;
  object-fit: cover;
  overflow: hidden;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
}
.button {
  width: 235px;
  height: 60px;
  border-width: 6px;
  border-radius: 60px;
  font-size: 22px;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.171); /* Green */
  color: rgba(255, 255, 255, 0.438);
  cursor: pointer;
  position: relative;
  bottom: 20px;
}
.button2{
  width: 235px;
  height: 60px;
  border-width: 6px;
  border-radius: 60px;
  font-size: 22px;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.171); /* Green */
  color: rgba(255, 255, 255, 0.438);
  cursor: pointer;
}

.bottomButtons {
  position: absolute;
  bottom: 16px;
}

.button3{
  width: 100px;
  height: 60px;
  border-width: 6px;
  border-radius: 60px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.171); /* Green */
  color: rgba(255, 255, 255, 0.438);
  cursor: pointer;
}
.button4{
  width: 100px;
  height: 60px;
  border-width: 6px;
  border-radius: 60px;
  font-size: 26px;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.171); /* Green */
  color: rgba(255, 255, 255, 0.438);
  cursor: pointer;
}
.button5{
  width: 100px;
  height: 60px;
  border-width: 6px;
  border-radius: 60px;
  font-size: 26px;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.171); /* Green */
  color: rgba(255, 255, 255, 0.438);
  cursor: pointer;
 
}
.OutlineText {
  font: Tahoma, Geneva, sans-serif;
  font-size: 64px;
   color: white;
   text-shadow:
   /* Outline */
   -1px -1px 0 #000000,
   1px -1px 0 #000000,
   -1px 1px 0 #000000,
   1px 1px 0 #000000,  
   -2px 0 0 #000000,
   2px 0 0 #000000,
   0 2px 0 #000000,
   0 -2px 0 #000000; /* Terminate with a semi-colon */
}
#btn{
  width: 2000px;
  height: 70px;
  border-width: 4px;
  border-radius: 35px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
#btn.active{
  font-size: 23px;
}
a {
  color: transparent;
}

